<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Logger Bean  -->
	<bean id="myLoggerConfig" class="com.study.logger.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="CONFIG" />
    	<property name="printedLoggerLevel" value="CONFIG"/>
    </bean>

	<!-- Load properties file to get literal values from -->
	<context:property-placeholder location="classpath:sports.properties"/>
	
    <!-- Define your beans here which are configured through XML file. -->
    <!--  Bean To Inject -->
    <bean id="fortuneBean"
    	class = "com.study.xmlspringconfig.HappyFortuneService">
    </bean>
    
    <bean id="coachController"
    	class = "com.study.xmlspringconfig.CricketCoach" 
    	init-method="initForBean"
    	destroy-method="destroyBean">
    	<constructor-arg ref="fortuneBean"/>
    	<property name="coachAge" value="45"/>
    	<property name="coachName" value="Anil Kumble"/>
    </bean>
    
    <bean id="cricketCoachController"
    	class = "com.study.xmlspringconfig.CricketCoach" >
    	<constructor-arg ref="fortuneBean"/>
    	<property name="coachAge" value="${coach.age}"/>
    	<property name="coachName" value="${coach.name}"/>
    </bean>
    
    <bean id="prototypeCricketCoach"
    	class = "com.study.xmlspringconfig.CricketCoach" scope="prototype">
    	<constructor-arg ref="fortuneBean"/>
    	<property name="coachAge" value="${prototypeCoach.age}"/>
    	<property name="coachName" value="${prototypeCoach.name}"/>
    </bean>
</beans>




